@import "./variables";

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: $black;
  font-family: "Montserrat", serif;
  color: white;
}

#wishes {
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  color: $light;
  grid-gap: 20px;
  grid-auto-rows: 0px;
  .wish {
    background-color: $dark;
    padding: 80px 66px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    p {
      margin: 0;
    }
    span {
      display: inline-block;
      color: white;
      opacity: 0.8;
      margin-top: 32px;
      font-weight: normal;
      position: relative;
    }
    @media (min-width: $big) {
      font-size: 16px;
    }
  }
}
