@import "./variables";

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: $black;
  font-family: "Montserrat", serif;
  color: white;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fade-out {
  opacity: 0;
}
.page-loader {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2e3035;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: 0.3s;
}

.page-loader .loader {
  height: 100px;
  width: 110px;
  position: relative;
  -webkit-animation: rotation 5s infinite linear;
  animation: rotation 5s infinite linear;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-loader .loader > :nth-child(1) {
  margin-left: auto;
  margin-right: auto;
  background-color: #c97322;
}

.page-loader .loader > :nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #772ec5;
}

.page-loader .loader > :nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #e1ec06;
}

.page-loader .loader > * {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

#wishes {
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  color: $light;
  grid-gap: 20px;
  grid-auto-rows: 0px;
  @media (max-width: $tab) {
    display: block;
    & > * {
      margin-bottom: 20px;
    }
  }
  .wish {
    background-color: $dark;
    padding: 80px 66px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    @media (max-width: $mobile) {
      padding: 40px 20px;
    }
    p {
      margin: 0;
    }
    span {
      display: inline-block;
      color: white;
      opacity: 0.8;
      margin-top: 32px;
      font-weight: normal;
      position: relative;
    }
    @media (min-width: $big) {
      font-size: 16px;
    }
  }
}
